<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="contenedorservicios">
    <!--NAVEGADOR-->
    <nav class="navegador">
        <ul>
            <li class="inicio1"><a href="../index.html" >Inicio</a></li>
            <li class="contacto1"><a href="./contacto.html">Contacto</a></li>
            <li class="clientes1"><a href="./clientes.html"> Clientes</a></li>
            <li class="nosotros1"><a href="./nosotros.html">Nosotros</a></li>
            <li class="servicios1"><a href="./servicios.html">Servicios</a></li>
        </ul>
    </nav>
    <!--MAIN-->
    <main class="mainserv">
        <h1 class="tituloserv"> Ventas</h1>
        <section class="tarjetas">
            <div class="tarjeta">
                <img src="../assets/img/Poste de 8 metros.jpg" alt="posteventa">
                <h3 class="poste">Poste</h3>
                <p class="parrafoposte">Poste de eucalipto impregnado con CCA de 8m diámetro en base 18-21 cm con chapa anti rajadura, es lo ideal para hacer líneas de telefonía, fibra óptica, luz, techos, cabañas o cualquier construcción tanto en interior o al intemperie.</p>
                <button class="btn">Comprar</button>
            </div>        



        </section>

        <section class="tarjetas">
            <div class="tarjeta">
                <img src="../assets/img/Poste de 8 metros.jpg" alt="posteventa">
                <h3 class="poste">Poste</h3>
                <p class="parrafoposte">Poste de eucalipto impregnado con CCA de 8m diámetro en base 18-21 cm con chapa anti rajadura, es lo ideal para hacer líneas de telefonía, fibra óptica, luz, techos, cabañas o cualquier construcción tanto en interior o al intemperie.</p>
                <button class="btn">Comprar</button>
            </div>        



        </section>

        <section class="tarjetas">
            <div class="tarjeta">
                <img src="../assets/img/Poste de 8 metros.jpg" alt="posteventa">
                <h3 class="poste">Poste</h3>
                <p class="parrafoposte">Poste de eucalipto impregnado con CCA de 8m diámetro en base 18-21 cm con chapa anti rajadura, es lo ideal para hacer líneas de telefonía, fibra óptica, luz, techos, cabañas o cualquier construcción tanto en interior o al intemperie.</p>
                <button class="btn">Comprar</button>
            </div>        



        </section>






    </main>




<!--FOOTER-->
<footer class="footer5">
    <div class="navfooter">
        <ul>
            <li class="inicio1"><a href="../index.html" >Inicio</a></li>
            <li class="contacto1"><a href="./contacto.html">Contacto</a></li>
            <li class="clientes1"><a href="./clientes.html"> Clientes</a></li>
            <li class="nosotros1"><a href="./nosotros.html">Nosotros</a></li>
            <li class="servicios1"><a href="./servicios.html">Servicios</a></li>
        </ul>

    </div>
    <div class="derechos" >
        Todos los derechos reservados 2021
    </div>
    <div class="contactofooter">
        
        <ul>
            <li class="contactof1"> Contacto</li>
            <li><i class="fa-brands fa-whatsapp"></i> Tel:3510000000</li>
            <li> <i class="fa-solid fa-location-dot"></i>San Martin 0 CBA</li>
            <li><i class="fa-solid fa-at"></i>Coopebouwer@gmail.com</li>

        </ul>
    </div>
    <div class="redes">
        
    <ul>
        <li class="redes1">Redes</li>
        <li><i class="fa-brands fa-facebook-square"></i></li>
        <li> <i class="fa-brands fa-instagram"></i></li>
        
    </ul>                
</div>
</footer>
</body>
</html>